---
import WinnerCard from "~/components/WinnerCard.astro"
import Layout from "~/layout/Layout.astro"
import { getSortedContests } from "~/lib/getSortedContests"

const contests = await getSortedContests()
---

<Layout title="월간 향유회 - 명예의 전당">
  <span slot="header-title" class="px-4">명예의 전당</span>
  <main
    class="mx-auto my-4 lg:max-w-6xl md:max-w-4xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4"
  >
    {contests.map(({ id, data }) => <WinnerCard id={id} contest={data} />)}
  </main>
</Layout>
