---
import Layout from '~/components/Layout.astro'
import WinnerCard from '~/components/WinnerCard.astro'
import { getSortedContests } from "~/lib/getSortedContests"

const contests = await getSortedContests()
---

<Layout title="월간 향유회 - 명예의 전당">
  <span slot="header-title">명예의 전당</span>
  {contests.map(({ id, data }) => <WinnerCard id={id} data={data} />)}
</Layout>
