---
import type { Contest } from "~/lib/getContests"

type Props = {
  id: string
  contest: Contest
}

const { id, contest } = Astro.props
const slug = id.replace("-", "/").replace("-", "/")
---

<div class="w-full overflow-x-auto">
  <tr>
    <td>{contest.date}</td>
    <td class="hover">
      <a href={`/contest/${slug}`}>{contest.title}</a>
    </td>
  </tr>
</div>
