---

---

<div
  class="rounded-lg b b-solid b-light-8 shadow-md flex flex-col overflow-hidden dark:b-dark-3"
>
  <div class="flex flex-row justify-between p-4">
    <div class="flex flex-col items-start self-start">
      <span class="text-xl font-bold">λ€ν μΌμ • μ•λ‚΄</span>
      <ul
        class="list-disc pl-5 mt-3 mb-3 space-y-1 text-dark-3 dark:text-light-6"
      >
        <li>μΌμ‹: <span class="font-bold">5μ›” 10μΌ (ν† )</span></li>
        <li>λ“±λ΅: 13:00~14:00</li>
        <li>λ€ν: 14:00~17:00</li>
        <li>ν•΄μ„¤ λ° μ‹μƒμ‹: 17:00~18:00</li>
      </ul>
      <span class="text-dark-3 dark:text-light-6">
        λ€ν μΆ…λ£ ν›„ ν’€μ΄ ν•΄μ„¤κ³Ό ν•¨κ» ν”Όμ(π•) λ¨Ήλ” μ‹κ°„μ„ κ°€μ§ μμ • μ…λ‹λ‹¤
      </span>
    </div>
  </div>
</div>
