---

---

<div
  class="rounded-lg b b-solid b-light-8 shadow-md flex flex-col overflow-hidden dark:b-dark-3"
>
  <div class="flex flex-row justify-between p-4">
    <div class="flex flex-col items-start self-start">
      <span class="text-xl font-bold">대회 일정 안내</span>
      <ul
        class="list-disc pl-5 mt-3 mb-3 space-y-1 text-dark-3 dark:text-light-6"
      >
        <li>일시: <span class="font-bold">5월 10일 (토)</span></li>
        <li>
          장소: <span class="font-bold">한빛미디어</span> (서울 서대문구 연희로2길
          62) <span class="font-bold">A동 2층</span>
        </li>
        <li>등록: 13:00~14:00</li>
        <li>대회: 14:00~17:00</li>
        <li>해설 및 시상식: 17:00~18:00</li>
      </ul>
      <span class="text-dark-3 dark:text-light-6">
        대회 종료 후 풀이 해설과 함께 피자(🍕) 먹는 시간을 가질 예정 입니다
      </span>
    </div>
  </div>
</div>
