---
import { ClientRouter } from "astro:transitions"
import { Moon, Sun } from "lucide-astro"
import type { Path } from "~/components/Nav.astro"
import Nav from "~/components/Nav.astro"
type Props = {
  title?: string
  path?: Path
}
const { title, path } = Astro.props
---

<html lang="ko" class="font-sans tracking-tighter" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title == null ? "월간 향유회" : `월간 향유회 - ${title}`}</title>
    <ClientRouter />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const toggleButton = document.querySelector("[data-toggle-theme]")
        toggleButton?.addEventListener("click", () => {
          const isDark = document.documentElement.classList.contains("dark")
          const newTheme = isDark ? "light" : "dark"
          localStorage.setItem("theme", newTheme)
          applyTheme(newTheme)
        })
      })
      document.addEventListener("astro:page-load", () => {
        applyTheme()
      })
      applyTheme()
      function applyTheme(to?: string) {
        const localTheme = to ?? localStorage.getItem("theme")
        const preferredTheme = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light"
        const theme = localTheme ?? preferredTheme
        if (theme === "dark") document.documentElement.classList.add("dark")
        else document.documentElement.classList.remove("dark")
      }
    </script>
  </head>
  <body class="dark:bg-dark-9 dark:text-white">
    <header>
      <nav class="b-b b-solid b-light-9 dark:b-dark-3">
        <div
          class="mx-auto lg:max-w-6xl md:max-w-4xl text-5 py-2 px-4 font-bold flex flex-row"
        >
          <div class="flex-1">
            <a
              class="text-unset decoration-none flex flex-row items-center gap-2 w-fit"
              href="/"><img class="h-5" src="/logo.webp" /> 월간 향유회</a
            >
          </div>
          <button type="button" data-toggle-theme transition:persist
            ><Sun class="dark:hidden" /><Moon
              class="hidden dark:inline"
            /></button
          >
        </div>
      </nav>
      {path && <Nav path={path} />}
      <h1 class="my-16 text-5xl font-black flex flex-row justify-center">
        <slot name="header-title" />
      </h1>
    </header>
    <slot />
    <footer class="b-t b-solid b-light-9 dark:b-dark-3">
      <div
        class="mx-auto lg:max-w-6xl md:max-w-4xl text-sm py-4 px-4 text-gray-4"
      >
        &copy; 2024 monthlyps
      </div>
    </footer>
  </body>
</html>
